*{
    box-sizing: border-box;
    margin: 0;
}
header, footer{
    background-color: black;
    color: white;
    padding: 2em;
    text-align: center;
    line-height: 3em;
    font-size: .8em;
}
.box{
    display: grid;
    gap: 3em;
    width: 98%;
    margin: 3em auto;
}
section{
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    /* padding: 20px; */
}
section img{
    max-width: 100%;
    width: 100%;
}
section h3,section h4,section p{
    padding: 10px;
    line-height: 1.5em;
}
section a{
    color: white;
    display: block;
    margin: 10px;
}
section h3{
    color: red;
}

@media only screen and (min-width:35.4em) {
    .box{
        width: 95%;

        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media only screen and (min-width:35.4em) {
    .box{
        width: 80%;
    }
}